body {
    background-color: #343a40;
}

.card {

}

#mainNavbar {
    color: white;
    font-weight: 100;
}

#header {
    background: url("../images/code2.jpg");
    background-size: cover;
    min-height: 300px;
}

#footer {
    background-color: black;
    min-height: 200px;
}

#cards{
    color: black;
}


